<html>
	<head>
		<meta charset="utf-8">
		<title>Archive</title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
		<link rel="stylesheet" href="main.css">
	</head>
	
	<body>
		<h1 class="heading">
				L. L. A. V.
				<ul class="explain">
					<li>Legal</li>
					<li>Limit</li>
					<li>Age</li> 
					<li>Verifier</li>
				</ul>
		</h1>
		<header>
			<nav class="top">
				<ul>
					<li class="tabs"><a href="/index">HOME</a></li>
					<li class="tabs"><a href="/login">ARCHIVE</a></li>
					<li class="tabs"><a href="/charts">CHARTS</a></li>
					<li class="tabs"><a href="/about">ABOUT</a></li>
				</ul>
			</nav>
		</header>
		
		<section class="archive">
			<div class="row">
				{% if results is defined %}
					{% for i in range(len-1,-1,-1) %}
					
						{{ results[i]|safe }}
				   
					{% endfor %}
				{% endif %}
			</div>
		</section>
		
		<footer>
			Lead Brick Liquor Inc. is the sole owner of L.L.A.V (Legal Limit Age Verifier). Any use or distribution of this software outside of Lead Brick Liquor Inc. will be met with swift legal action. 
		</footer>
	<body>
<html>